<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include('partials/head')  %> 
<body>
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('partials/headerLogueado') %> 
	<% } else { %>
		<%- include('partials/headerDeslogueado') %> 
	<% } %>

	
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %>  </h2> 
			<p class="product-detail-description">
				<% if (locals.user && user.id==producto.user.id) { %>
				<a href="/products/edit/<%= producto.id %> ">Editar</a>

				<form class="form" action="/products/delete/<%= producto.id %> " method="POST">
					<button type="submit" class="buy-now-button">Borrar</button>
				</form>

				<% } %>
				
			
			</p>

		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%=producto.image  %>  alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i <producto.comments.length; i++ ) { %>
						<article>
							<img src= "/images/users/<%= producto.comments[i].user.image %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%= producto.comments[i].user.id %> "><%= producto.comments[i].user.username %>    </a> </strong>
								<%= producto.comments[i].texto %>  </p>
							</div>
						</article>
						<% } %>
						
						

					</section>
					<% if (locals.user) { %>
					<form class="form" action="/products/comment" method="POST">
						<input class="form-input" type="text" name="texto" value="" placeholder="Agregar comentario">
						<input type="hidden" name="fkUserId" value="<%= locals.user.id %>" > 
						<input type="hidden" name="fkProductId" value="<%= producto.id %>" > 
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% } %>
					<hr>
					<a href="/users/profile/<%= producto.user.id %> "> <%= producto.user.username %>  </a>
					<img src="/images/users/<%= producto.user.image %> " alt="" class="fotoProfile"> 
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>